*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jk-fnt-clr{
    color: #7B45BD;
}
.jk-bg-clr{
    background: #7B45BD;
}
.jk-bg-clr-lig{
    background-color: #7b45bd40;
}

.bootNav:focus{
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

/* Custom Toastify Style */
.toast-container .Toastify__toast {
    background: #333333; /* Simple black background */
    color: #ffffff; /* White text for contrast */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  }
  
  .toast-container .Toastify__toast--success {
    background: #28a745; /* Green for success */
  }
  
  .toast-container .Toastify__toast--error {
    background: #dc3545; /* Red for error */
  }
  
  .toast-container .Toastify__toast--info {
    background: #2f3031; /* Blue for info */
  }
  
  .toast-container .Toastify__toast--warning {
    background: #ffc107; /* Yellow for warning */
  }
  